.one.column.row
  .column
    .ui.segment
      .query-form(query-form="treebank" query-result="result" params="queryParams")
.one.column.row
  .column
    .query-result(result-view="treebank" query-result="result")

