
.lang {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 0.5em 0 0;
  text-decoration: inherit;
  speak: none;
  font-smoothing: antialiased;
  backface-visibility: hidden;
}


@import "languageIconCoords.less";