.ui.items>.item>.treebank.logo.wrapper+.content {
  min-width: 0;
  width: auto;
  display: block;
  margin-left: 0;
  align-self: flex-start;
  padding-left: 1.5em;
}

.treebank.logo.wrapper {
  position: relative;
  flex: 0 0 auto;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  width: 175px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 145px;
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
    line-height: 0.8;
    text-transform: uppercase;
    & > * {
      display: block;
    }
  }
  @media only screen and (max-width: 767px) {
    margin: 0 auto;
  }
}
