.item
  .treebank.logo.wrapper
    a(ng-href="{{::url}}" logo-image="image" image-width="175" ng-style="{color: image.color}")
  .content
    a.header(ng-href="{{::url}}")
      span(ng-if="!treebank.accessible()")
        i.icon.lock(title="Login and permission required" ui-popup="" data-position="right center")
      | {{::treebank.title}}
    .description {{::treebank.description}}
    .extra
      .ui.label(ng-repeat="label in ::treebank.languages | orderBy:'-name'")
        span(language-icon="label.code")
        | {{::label.name}}
      .ui.label(ng-repeat="label in ::treebank.tags | orderBy:'-name'")
        | {{::label.name}}
