.ui.modal
  i.close.icon
  .header Suggest Query
  .content
    .suggest(suggest-query="suggest")
  .actions
    button.ui.negative.button(type="button") Cancel
    button.ui.position.button(type="button") Insert Query
