.container-fluid(ng-controller="TreebankController")
  .row(ng-if="state == 'loading'")
    .col-lg-12
      p Loading...
  .row(ng-if="state == 'success'")
    .col-lg-12
      treebank-detail(tb="treebank")
        h1 {{treebank.title}}
        query-form
        treebank-help(tb="treebank")

      //- h1 {{treebank.title}}
      //- div(ng-include="'query/partial/form/form.html'")
      //- div(ng-include="'pmltqHelp/treebank/treebank.html'")
  .row(ng-if="state == 'error'")
    .col-lg-12
      p TODO: error page
