.container-fluid(ng-controller="TreebankController")
  .row(ng-if="state == 'loading'")
    .col-lg-12
      p Loading...
  .row(ng-if="state == 'success'" treebank-detail="treebank")
    .col-lg-12
      p {{treebank.title}}
      .query-form(query-form="treebank")
      .query-result(result-view="treebank")

  .row(ng-if="state == 'error'")
    .col-lg-12
      p TODO: error page
