doctype html
html(ng-app="pmltqWeb")
  head
    title PML Tree-Query Engine
    meta(name="keywords",content="treebank search query tree constituency dependency")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(href="app.css",type="text/css",rel="stylesheet")
  body
    //-  Livereload script for development only (stripped during dist build)
    script(src="http://localhost:35729/livereload.js",data-concat="false")

    //- JS from Bower Components
    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="bower_components/jasny-bootstrap/js/offcanvas.js")
    script(src="bower_components/underscore/underscore.js")
    script(src="bower_components/moment/moment.js")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/restangular/dist/restangular.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="bower_components/angular-ui-utils/ui-utils.js")
    script(src="bower_components/angular-local-storage/dist/angular-local-storage.js")
    //- Add New Bower Component JS Above

    //- Main App JS
    script(src="app.js")
    script(src="history/history.js")
    script(src="partial/home/home.js")
    script(src="directive/toggle-offcanvas.js")
    script(src="service/treebanks.js")
    script(src="directive/treebank-list-item/treebank-list-item.js")
    script(src="partial/treebank/treebank.js")
    //- Add New Component JS Above

    div(ng-include="'partial/navigation/navigation.html'")
    #page-wrapper
      div(ng-hide="'home' | isState",ng-include="'partial/navigation/toggle-button.html'")
      div(ui-view)
