doctype html
html(ng-app="pmltqWeb")
  head
    title PML Tree-Query Engine
    meta(name="keywords",content="treebank search query tree constituency dependency")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(href="bower_components/semantic-ui/dist/semantic.css",type="text/css",rel="stylesheet")
    link(href="app.css",type="text/css",rel="stylesheet")
  body
    //-  Livereload script for development only (stripped during dist build)
    script(src="http://localhost:35729/livereload.js",data-concat="false")

    //- JS from Bower Components
    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/semantic-ui/dist/semantic.js")
    script(src="bower_components/lodash/lodash.js")
    script(src="bower_components/moment/moment.js")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/restangular/dist/restangular.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/angular-local-storage/dist/angular-local-storage.js")
    script(src="bower_components/angular-scroll/angular-scroll.js")
    script(src="bower_components/angular-loading-bar/src/loading-bar.js")
    //- Add New Bower Component JS Above

    //- Main App JS
    script(src="app.js")
    script(src="directive/focusElement.js")
    script(src="directive/toggleOffcanvas.js")
    script(src="partial/browse/browse.js")
    script(src="partial/home/home.js")
    script(src="partial/treebank/treebank.js")
    script(src="pmltqHelp/pmltqHelp.js")
    script(src="pmltqHelp/treebank/treebankHelp.js")
    script(src="pmltqHistory/pmltqHistory.js")
    script(src="pmltqTreebank/pmltqTreebank.js")
    script(src="pmltqTreebank/directive/treebankBox/treebankBox.js")
    script(src="pmltqTreebank/directive/treebankListItem/treebankListItem.js")
    script(src="pmltqTreebank/service/treebanksApi.js")
    script(src="pmltqTreebank/filter/treebankFilter.js")
    script(src="pmltqTreebank/directive/treebankDetail.js")
    script(src="pmltqTreebank/directive/queryForm/queryForm.js")
    script(src="pmltqTreebank/directive/queryMenu/queryMenu.js")
    script(src="pmltqTreebank/directive/querySuggest/querySuggest.js")
    script(src="pmltqTreebank/directive/queryVisualize.js")
    script(src="pmltqTreebank/directive/resultControls/resultControls.js")
    script(src="directive/updateModelOnEnterKeyPressed.js")
    script(src="pmltqTreebank/directive/resultView/resultView.js")
    script(src="pmltqTreebank/directive/resultTable.js")
    script(src="pmltqTreebank/directive/resultSvg/resultSvg.js")
    script(src="pmltqTreebank/service/svgParser.js")
    script(src="pmltqTreebank/directive/resultSentence/resultSentence.js")
    script(src="pmltqTreebank/directive/matchedNodes/matchedNodes.js")
    script(src="pmltqTreebank/directive/resultTitle/resultTitle.js")
    script(src="service/offCanvas.js")
    script(src="pmltqTreebank/service/resultHolder.js")
    script(src="pmltqTreebank/directive/queryTextbox/queryTextbox.js")
    script(src="semanticUI/semanticUI.js")
    script(src="semanticUI/directive/uiPopup.js")
    //- Add New Component JS Above

    #page-wrapper
      div(ui-view)
