doctype html
html(ng-app="pmltqAdmin" ng-strict-di="true")
  head
    title PML-TQ Server Administration
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    script(src="ng-admin.min.js")
  body
    div(ui-view)

