<div class="modal-header">
  <h3 class="modal-title">Please Sign In</h3>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-bind="vm.error" ng-show="vm.error"></div>
  <form name="form" ng-submit="vm.login()">
    <fieldset>
      <div class="form-group">
        <label for="auth-username">Username:</label>
        <input class="form-control"
               id="auth-username"
               name="username"
               ng-model="vm.auth.username"
               required
               placeholder="Username"
               type="text" value=""
               autocomplete="off">
      </div>
      <div class="form-group">
        <label for="auth-password">Password:</label>
        <input class="form-control"
               id="auth-password"
               name="password"
               ng-model="vm.auth.password"
               required
               placeholder="Password"
               type="password"
               autocomplete="off">
      </div>
      <div class="checkbox">
        <label for="auth-remember">
          <input id="auth-remember" name="auth.remember"
                 type="checkbox" value="1">
          Remember
        </label>
      </div>

      <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
    </fieldset>
  </form>
</div>
