main.ui.horizontally.padded.one.column.grid
  .column
    .ui.large.pointing.menu
      .header.item(ng-bind="treebank.title")
      a.item(ui-sref="treebank.history" ui-sref-active="active")
        i.history.icon
        | History
      a.item(ui-sref="treebank.query.index" ui-sref-active="active")
        i.search.icon
        | Query
      a.item(ui-sref="treebank.help" ui-sref-active="active")
        i.help.circle.icon
        | Help
      //- a.item(ui-sref="treebank.query.result({query: 'new'})" ui-sref-active="active")
      //-   i.server.icon
      //-   | Result
      //- a.item(ui-sref="treebank.suggest" ui-sref-active="active")
      //-   i.code.icon
      //-   | Suggest
      .right.menu
        a.item
          i.external.icon
          | Get data

  .fitted.column
    .ui.grid(ui-view="")
