.item
  .treebank.image.wrapper
    a(ng-href="{{url}}" treebank-image="image" ng-style="{color: image.color}")
  .content
    a.header(ng-href="{{url}}")
      span(ng-if="!treebank.anonymous")
        i.icon.lock(title="Login and permission required" ui-popup="" data-position="right center")
      | {{treebank.title}}
    .description {{treebank.description}}
    .extra
      .ui.label(ng-repeat="sticker in treebank.getStickers() | orderBy:'-name'")
        i.flag(ng-class="sticker.cls" ng-if="sticker.cls")
        | {{sticker.name}}
