main.ui.page.grid
  .row
    .column
      .ui.message.promo
        h1.ui.header PML Tree Query
        p Tool for searching and browsing treebanks online
        p
          a.large.ui.blue.button(ui-sref="browse")
            i.icon.tree
            |  Browse Treebanks
          a.large.ui.orange.disabled.button(href="#")
            i.info.circle.icon
            |  Guided Tour
          a.large.ui.teal.disabled.button(href="#")
            i.icon.help
            |  Help
  .ui.two.columns.grid
    .column
      h2.header Recently Used
      .ui.divided.items(ng-if="recentlyUsed.length > 0")
        div(treebank-list-item="tb" ng-repeat="tb in recentlyUsed track by tb.id")
      .ui.info.message(ng-if="recentlyUsed.length == 0")
        .header No recent treebanks
        | You will find recently used treebanks here.
    .column
      h2 Featured Treebanks
      .ui.divided.items
        div(treebank-list-item="tb" ng-repeat="tb in featured track by tb.id")
