.result-svg
  p.result-sentence(ng-if="result && !!result.sentence()")
    span(
      ng-repeat="term in result.sentence()"
      ng-class="term.classes"
      ng-bind="term.text"
      ng-style="term.style"
    )
  .svg-pane(svg-content="result.svg")
