.file-controls
  .prev-tree
    button.ui.tiny.icon.button(type="button" ng-click="file.prevTree()" ng-disabled="!file.hasPrevTree")
      i.left.angle.double.icon
  .file-title(title="{{file.filename}}" data-position="top center" data-variation="basic wide" ui-popup)
    .position
      span(ng-bind="file.treeNo")
      = ' / '
      span(ng-bind="file.totalTrees")
    .filename(ng-bind="file.filename")
  .next-tree
    button.ui.tiny.icon.button(type="button" ng-click="file.nextTree()" ng-disabled="!file.hasNextTree")
      i.right.angle.double.icon
