.result.title {
  .filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .position {
    font-weight: 700;
  }

  .ui.button>.right.icon:not(.button) {
    margin: 0;
  }
}

.file-controls {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .file-title {
    flex: 1 1 auto;
    text-align: center;
  }
}
