.result-view(ng-switch="show")
  .result-svg(ng-switch-when="loading")
    p Loading ...
  div(ng-switch-when="svg" result-svg="treebank" node="{{result.node}}" tree="{{result.tree}}")
  div(ng-switch-when="table" result-table="result.table")
  div(ng-switch-default)
    treebank-help(tb="treebank")


