.result-view(ng-switch="show")
  .result-svg(ng-switch-when="loading")
    p Loading ...
  div(ng-switch-when="svg")
    div(result-svg="treebank"
      node="{{result.currentResult[result.activeNode]}}"
      tree="{{result.tree}}"
      svg="result.svg")
      .row
        .col-lg-4
          div(result-controls="result")
        .col-lg-4.text-center
          div(matched-nodes="result")
        .col-lg-4.text-right
          .result-title(ng-bind="result.svg.title()")
      .row
        .col-lg-12
          div(result-sentence="result.svg.sentence()")
      .svg-pane(svg-content="result.svg.content")

  div(ng-switch-when="table" result-table="result.table")
  div(ng-switch-default)
    treebank-help(tb="treebank")


