.result-view(ng-switch="state")
  .result-svg(ng-switch-when="loading")
    p Loading ...
  div(ng-switch-when="nodes")
    div(result-svg="treebank"
      node="{{result.currentResult[result.activeNode]}}"
      tree="{{result.tree}}"
      svg="result.svg")
      .row
        .col-lg-4
          div(result-controls="result")
        .col-lg-4.text-center
          div(matched-nodes="result")
        .col-lg-4.text-right
          div(result-title="result")
      .row
        .col-lg-12
          div(result-sentence="result.svg.sentence()")
      .svg-pane(svg-content="result.svg.content")

  div(ng-switch-when="table" result-table="result")
  //- div(ng-switch-default)
  //-   treebank-help(tb="treebank")


