nav.navmenu.navmenu-default.navmenu-fixed-left(role="navigation")
  a.navmenu-brand(href="#") PML Tree Query
  ul.nav.navmenu-nav
    li(ui-sref-active)
      a(ui-sref="home")
        i.glyphicon.glyphicon-tree-conifer
        |  Select Treebank
    li(ui-sref-active)
      a(ui-sref="home")
        i.glyphicon.glyphicon-book
        |  History
    li(ui-sref-active)
      a(ui-sref="home")
        i.glyphicon.glyphicon-info-sign
        |  Documentation
    li(ui-sref-active)
      a(ui-sref="home")
        i.glyphicon.glyphicon-log-in
        |  Login
  a.lindat-logo(href="http://lindat.cz",target="blank")
    img(src="img/lindat-logo-100.png", width="177", height="100")
