.side-bar-toggle {
  .navbar-toggle();
  float: left;
  .icon-bar {
    background-color: @gray-light
  }
}

@media (min-width: 0) {
  .side-bar-toggle {
    display: block; /* force showing the toggle */
  }
}

.navbar {
  border-width: 0 0 1px 0;
}

.navmenu {
  z-index: 1;
}

.pmltq-nav {
  position: relative;
  background-color: @gray-lightest;
  z-index: 1;
}

.lindat-logo {
  z-index: 0;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}


