doctype html
html(ng-app="pmltq")
  head
    title PML Tree-Query Engine
    meta(name="keywords",content="treebank search query tree constituency dependency")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/angular-loading-bar/build/loading-bar.css')
    link(rel='stylesheet', href='bower_components/semantic-ui/dist/semantic.css')
    // endbower
    // endbuild
    // build:css({.tmp/serve,app}) styles/app.css
    // inject:css
    link(rel="stylesheet", href="pmltq.css")
    // endinject
    // endbuild
  body
    .page-view(ui-view)
    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/lodash/lodash.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-mocks/angular-mocks.js')
    script(src='bower_components/moment/moment.js')
    script(src='bower_components/angular-local-storage/dist/angular-local-storage.js')
    script(src='bower_components/restangular/dist/restangular.js')
    script(src='bower_components/angular-ui-ace/ui-ace.js')
    script(src='bower_components/angular-scroll/angular-scroll.js')
    script(src='bower_components/angular-loading-bar/build/loading-bar.js')
    script(src='bower_components/semantic-ui/dist/semantic.js')
    script(src='bower_components/snap.svg/dist/snap.svg.js')
    script(src='bower_components/angular-http-auth/src/http-auth-interceptor.js')
    // endbower
    // endbuild
    // build:js({app,.tmp/partials}) scripts/app.js
    // inject:js
    script(src="treebank/treebank.module.js")
    script(src="treebank/treebanks-api.service.js")
    script(src="treebank/treebank.routes.js")
    script(src="treebank/treebank.controller.js")
    script(src="treebank/treebank-list-item.directive.js")
    script(src="treebank/treebank-filter.factory.js")
    script(src="treebank/sticker.factory.js")
    script(src="treebank/browse.controller.js")
    script(src="suggest/suggest.module.js")
    script(src="suggest/suggest.routes.js")
    script(src="suggest/suggest.factory.js")
    script(src="suggest/suggest.controller.js")
    script(src="suggest/suggest-query.directive.js")
    script(src="suggest/suggest-modal.factory.js")
    script(src="suggest/suggest-item.factory.js")
    script(src="semantic-ui/semantic-ui.module.js")
    script(src="semantic-ui/ui-utils.factory.js")
    script(src="semantic-ui/ui-sticky.directive.js")
    script(src="semantic-ui/ui-selectbox.directive.js")
    script(src="semantic-ui/ui-popup.directive.js")
    script(src="semantic-ui/ui-nag.directive.js")
    script(src="semantic-ui/ui-modal.factory.js")
    script(src="semantic-ui/ui-dropdown.directive.js")
    script(src="semantic-ui/ui-checkbox.directive.js")
    script(src="shared/shared.module.js")
    script(src="shared/update-model-on-enter-key-pressed.directive.js")
    script(src="shared/transclude-select.directive.js")
    script(src="shared/toggle-offcanvas.directive.js")
    script(src="shared/title.directive.js")
    script(src="shared/shared.routes.js")
    script(src="shared/off-canvas.js")
    script(src="shared/navigation.directive.js")
    script(src="shared/focus-element.directive.js")
    script(src="shared/error-page.controller.js")
    script(src="result/result.module.js")
    script(src="result/tred-svg.factory.js")
    script(src="result/svg-result.factory.js")
    script(src="result/sentence.factory.js")
    script(src="result/sentence.directive.js")
    script(src="result/sentence.controller.js")
    script(src="result/sentence-token.directive.js")
    script(src="result/result.controller.js")
    script(src="result/result-view.directive.js")
    script(src="result/result-title.directive.js")
    script(src="result/result-table.directive.js")
    script(src="result/result-svg.directive.js")
    script(src="result/result-holder.factory.js")
    script(src="result/result-controls.directive.js")
    script(src="result/matched-nodes.directive.js")
    script(src="query/query.module.js")
    script(src="query/query.routes.js")
    script(src="query/query.controller.js")
    script(src="query/query-visualize.directive.js")
    script(src="query/query-params.factory.js")
    script(src="query/query-menu.directive.js")
    script(src="query/query-form.directive.js")
    script(src="home/home.module.js")
    script(src="home/home.routes.js")
    script(src="home/home.controller.js")
    script(src="history/history.module.js")
    script(src="history/history.controller.js")
    script(src="history/history-api.service.js")
    script(src="help/help.module.js")
    script(src="help/treebank-help.directive.js")
    script(src="help/query-example.directive.js")
    script(src="help/help.routes.js")
    script(src="help/help.controller.js")
    script(src="auth/auth.module.js")
    script(src="auth/logout.directive.js")
    script(src="auth/login.directive.js")
    script(src="auth/login-modal.factory.js")
    script(src="auth/login-modal.controller.js")
    script(src="auth/discojuice.factory.js")
    script(src="auth/auth.service.js")
    script(src="pmltq.module.js")
    // endinject
    // inject:partials
    // angular templates will be automatically inserted here
    // endinject
    // endbuild
