doctype html
html(ng-app="pmltq" ng-strict-di="true")
  head
    title PML Tree-Query Engine
    meta(name="keywords",content="treebank search query tree constituency dependency")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
  body#lindat-pmltq
    if LINDAT
      header(lindat-header)
    .page-view(ui-view)
    if LINDAT
      footer(lindat-footer)
