.row
  .column
    .ui.grid
      .row
        .twelve.wide.white.column()#context
          section.ui.basic.segment
            h1.ui.header {{vm.file.name}}
          query-tutorial(query="query" file="vm.file" treebank="vm.treebank" ng-repeat="query in vm.file.queries | orderBy:'ord' track by query.id")
        .four.wide.column()
          .ui.sticky(ui-sticky="{context: '#context', offset: 30}")
            .ui.secondary.vertical.right.pointing.menu(du-spy-context)
              a.item(ng-repeat="query in vm.file.queries | orderBy:'ord' track by query.id" href="#{{query.id}}" du-scrollspy du-smooth-scroll) {{query.name}}


