.markdown-editor.ui.form
  .ui.top.attached.tabular.menu
    h4.ui.item.header
      | {{title}}:
    .ui.item.button(ng-class="{active: !!editor}" ng-click="editor=true")
      | Editor
    .ui.item.button(type="button" ng-class="{active: !editor}" ng-click="editor=false")
      | Preview
  .ui.botton.attached.tab.segment(ng-class="{active: !!editor}")
    .ui.field
      textarea(ng-model="text")
  .ui.botton.attached.tab.segment(ng-class="{active: !editor}")
    .markdownView(ng-model="text")

