.ui.main.pointing.menu
  .header.item
    .ui.large.breadcrumb
      a.section(ui-sref="home")
        i.home.icon
      i.right.chevron.icon.divider
      div(transclude-select="[breadcrumb]")
  div(transclude-select="[menu]")
  .right.menu
    div(transclude-select="[right]")
    a.item(
      href="https://github.com/ufal/perl-pmltq-web/issues"
      target="_blank"
      title="Report a bug on github"
      ui-popup)
      i.icon.bug
      |  Report a bug
    .ui.dropdown.item(ui-dropdown ng-show="loggedIn")
      i.user.icon
      | {{username}}
      i.dropdown.icon
      .menu
        a.item(logout) Logout
    a.item(login ng-hide="loggedIn")
      i.user.icon
      | Login
