.ui.small.horizontal.list
  .item(ng-repeat="node in result.queryNodes")
    button.ui.tiny.circular.button(
      type="button"
      ng-class="{positive: result.activeNode == $index}"
      ng-click="result.activeNode = $index")
      strong {{$index + 1}} &nbsp;
      | {{node[1]}}
      span(ng-if="node[0]") &nbsp;${{node[0]}}
