a.list-group-item(href="#")
  span.badge(ng-repeat="sticker in treebank.stickers | orderBy:'-name'")
    {{sticker.name}}
  h4.list-group-item-heading
    span(ng-if="treebank.access")
      i.fa.fa-lock(tooltip="Login and permission required",tooltip-placement="right")
      | &nbsp;
    | {{treebank.title}}
  p.list-group-item-text {{treebank.description}}
