.ui.grid(ng-switch="state")
  .one.column.center.aligned.row(ng-switch-when="loading")
    .column
      .ui.text.active.inline.loader Loading
  .one.column.row(ng-switch-when="nodes")
    .column
      .ui.grid(result-svg="treebank"
        node="{{result.currentResult[result.activeNode]}}"
        tree="{{result.tree}}"
        svg="result.svg")
        .fitted.three.column.row
          .column
            div(result-controls="result")
          .column.center.aligned
            div(matched-nodes="result")
          .column.right.aligned
            div(result-title="result")
        .one.column.row
          .column
            .ui.segment(sentence="result.svg.sentence()")
        .one.column.row
          .white.column
            .svg-pane(svg-content="result.svg" nodes="result.currentResult")

  div(ng-switch-when="table" result-table="result")
  //- div(ng-switch-default)
  //-   treebank-help(tb="treebank")


