.ui.one.column.grid(ng-switch="state")
  .center.aligned.column(ng-switch-when="loading")
    .ui.text.active.inline.loader Loading
  .column(ng-switch-when="error")
      pre.ui.negative.message {{result.lastError ? result.lastError.data.error : ''}}
  .column(ng-switch-when="nodes")
    .ui.one.column.grid(result-svg="treebank"
      node="{{result.currentResult[result.activeNode]}}"
      tree="{{result.tree}}"
      svg="result.svg")
      .fitted.column
        .ui.three.column.stackable.grid
          .column
            div(result-controls="result")
          .column.center.aligned
            div(matched-nodes="result")
          .column.right.aligned
            .result.title(result-title="result")
      .column
        .ui.segment(sentence="result.svg.sentence()")
      .white.column
        .svg-pane(svg-content="result.svg" nodes="result.currentResult")
  .column(ng-switch-when="table" result-table="result")


